In [1]:
import numpy as np
import sklearn
import pandas as pd
import os
print(os.getcwd())

C:\Users\DKIN

In [2]:
car = pd.read_csv('./Desktop/Python code/quikr_car.csv')

In [3]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [4]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
name          892 non-null object
company       892 non-null object
year          892 non-null object
Price         892 non-null object
kms_driven    840 non-null object
fuel_type     837 non-null object
dtypes: object(6)
memory usage: 41.9+ KB

In [5]:
# There are 6 columns and 892 row value
# Following problem we can see in the data set so far:
# all columns are object where price, year,kms_driven should be in or float
# there are null value in 2 feature.

In [6]:
# cleaning name feature
car['name'].head(20)
# car['name'] feature is very long and only first 3 value will be use full

0       Hyundai Santro Xing XO eRLX Euro III
1                    Mahindra Jeep CL550 MDI
2                 Maruti Suzuki Alto 800 Vxi
3     Hyundai Grand i10 Magna 1.2 Kappa VTVT
4           Ford EcoSport Titanium 1.5L TDCi
5           Ford EcoSport Titanium 1.5L TDCi
6                                  Ford Figo
7                                Hyundai Eon
8           Ford EcoSport Ambiente 1.5L TDCi
9             Maruti Suzuki Alto K10 VXi AMT
10               Skoda Fabia Classic 1.2 MPI
11                Maruti Suzuki Stingray VXi
12               Hyundai Elite i20 Magna 1.2
13                Mahindra Scorpio SLE BS IV
14      Hyundai Santro Xing XO eRLX Euro III
15                   Mahindra Jeep CL550 MDI
16                                   Audi A8
17                                   Audi Q7
18                      Mahindra Scorpio S10
19                    Maruti Suzuki Alto 800
Name: name, dtype: object

In [7]:
# spliting name with space
car['name']=car['name'].str.split(' ')
car['name'].head(10)

0      [Hyundai, Santro, Xing, XO, eRLX, Euro, III]
1                      [Mahindra, Jeep, CL550, MDI]
2                  [Maruti, Suzuki, Alto, 800, Vxi]
3    [Hyundai, Grand, i10, Magna, 1.2, Kappa, VTVT]
4            [Ford, EcoSport, Titanium, 1.5L, TDCi]
5            [Ford, EcoSport, Titanium, 1.5L, TDCi]
6                                      [Ford, Figo]
7                                    [Hyundai, Eon]
8            [Ford, EcoSport, Ambiente, 1.5L, TDCi]
9             [Maruti, Suzuki, Alto, K10, VXi, AMT]
Name: name, dtype: object

In [8]:
#sliceing name using first 3 value
car['name']=car['name'].str.slice(0,3).str.join(' ')

In [9]:
car['name'].head(10)

0       Hyundai Santro Xing
1       Mahindra Jeep CL550
2        Maruti Suzuki Alto
3         Hyundai Grand i10
4    Ford EcoSport Titanium
5    Ford EcoSport Titanium
6                 Ford Figo
7               Hyundai Eon
8    Ford EcoSport Ambiente
9        Maruti Suzuki Alto
Name: name, dtype: object

In [10]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
name          892 non-null object
company       892 non-null object
year          892 non-null object
Price         892 non-null object
kms_driven    840 non-null object
fuel_type     837 non-null object
dtypes: object(6)
memory usage: 41.9+ KB

In [11]:
#This feature have following issue
# There are some company with garbage value 
#some of them have different case structure

car['company'].unique()

array(['Hyundai', 'Mahindra', 'Maruti', 'Ford', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'I', 'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat',
       'Commercial', 'MARUTI', 'Force', 'Mercedes', 'Land', 'Yamaha',
       'selling', 'URJENT', 'Swift', 'Used', 'Jaguar', 'Jeep', 'tata',
       'Sale', 'very', 'Volvo', 'i', '2012', 'Well', 'all', '7', '9',
       'scratch', 'urgent', 'sell', 'TATA', 'Any', 'Tara'], dtype=object)

In [12]:
#this feature is clean 
car['company'] = car['company'].str.capitalize()
car['company'].value_counts()

Maruti        237
Hyundai       145
Mahindra      100
Tata           78
Honda          61
Toyota         39
Chevrolet      35
Renault        34
Ford           31
Volkswagen     20
Skoda          13
Audi           11
Bmw             8
Mini            8
Datsun          8
Commercial      6
Nissan          6
Mitsubishi      6
Mercedes        6
I               4
Fiat            4
Force           4
Hindustan       3
Sale            2
Urgent          2
Jaguar          2
Used            2
Swift           1
Sell            1
Well            1
Land            1
7               1
Jeep            1
Scratch         1
Tara            1
2012            1
Yamaha          1
Volvo           1
Selling         1
Very            1
Urjent          1
All             1
Any             1
9               1
Name: company, dtype: int64

In [13]:
# Keeping only those which have atlest more than one value count
counts = car['company'].value_counts()

car = car.loc[car['company'].isin(counts.index[counts > 1])]
car['company'].value_counts()

Maruti        237
Hyundai       145
Mahindra      100
Tata           78
Honda          61
Toyota         39
Chevrolet      35
Renault        34
Ford           31
Volkswagen     20
Skoda          13
Audi           11
Mini            8
Datsun          8
Bmw             8
Commercial      6
Mercedes        6
Mitsubishi      6
Nissan          6
Force           4
I               4
Fiat            4
Hindustan       3
Used            2
Jaguar          2
Sale            2
Urgent          2
Name: company, dtype: int64

In [14]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 875 entries, 0 to 891
Data columns (total 6 columns):
name          875 non-null object
company       875 non-null object
year          875 non-null object
Price         875 non-null object
kms_driven    837 non-null object
fuel_type     834 non-null object
dtypes: object(6)
memory usage: 47.9+ KB

In [15]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', '2004', '/-Rs', 'sale', '1995',
       'ara)', '2002', '2001', 'odel', '2 bs', 'arry', 'Eon', 'o...',
       'Zest', 'ture', 'emi', 'car', 'no.', 'd...', 'SALE', 'digo',
       'e...', 'k...', 'o c4', 'cent', 'Sumo', 'cab', 't xe', 'EV2'],
      dtype=object)

In [16]:
car.year.value_counts()

2015    114
2014     94
2013     94
2016     76
2012     75
2011     60
2009     56
2017     56
2010     44
2018     34
2019     22
2006     22
2007     19
2008     16
2003     13
2005     13
2004     12
2000      7
2002      5
2001      5
...       3
sale      3
o...      3
car       2
1995      2
Zest      2
d...      2
ture      1
cent      1
TOUR      1
no.       1
odel      1
o c4      1
SALE      1
cab       1
arry      1
k...      1
digo      1
Sumo      1
EV2       1
Eon       1
/-Rs      1
150k      1
ara)      1
e...      1
t xe      1
2 bs      1
emi       1
Name: year, dtype: int64

In [17]:
counts = car['year'].value_counts()

car = car.loc[car['year'].isin(counts.index[counts > 1])]
car['year'].value_counts()

2015    114
2013     94
2014     94
2016     76
2012     75
2011     60
2017     56
2009     56
2010     44
2018     34
2006     22
2019     22
2007     19
2008     16
2003     13
2005     13
2004     12
2000      7
2001      5
2002      5
...       3
o...      3
sale      3
d...      2
Zest      2
1995      2
car       2
Name: year, dtype: int64

In [18]:
#Droping string value
car=car[car['year'].str.isnumeric()]
car['year']=car['year'].astype(int)
car['year'].value_counts()

2015    114
2014     94
2013     94
2016     76
2012     75
2011     60
2009     56
2017     56
2010     44
2018     34
2006     22
2019     22
2007     19
2008     16
2005     13
2003     13
2004     12
2000      7
2002      5
2001      5
1995      2
Name: year, dtype: int64

In [19]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 839 entries, 0 to 891
Data columns (total 6 columns):
name          839 non-null object
company       839 non-null object
year          839 non-null int32
Price         839 non-null object
kms_driven    837 non-null object
fuel_type     834 non-null object
dtypes: int32(1), object(5)
memory usage: 42.6+ KB

In [20]:
car=car[car['Price']!='Ask For Price']

In [21]:
car['Price']=car['Price'].str.replace(',','')

In [22]:
car['Price']=car['Price'].astype(int)
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 891
Data columns (total 6 columns):
name          816 non-null object
company       816 non-null object
year          816 non-null int32
Price         816 non-null int32
kms_driven    816 non-null object
fuel_type     813 non-null object
dtypes: int32(2), object(4)
memory usage: 38.2+ KB

In [23]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [24]:
car=car[car['kms_driven'].str.isnumeric()]

In [25]:
car['kms_driven']=car['kms_driven'].astype(int)
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 814 entries, 0 to 889
Data columns (total 6 columns):
name          814 non-null object
company       814 non-null object
year          814 non-null int32
Price         814 non-null int32
kms_driven    814 non-null int32
fuel_type     813 non-null object
dtypes: int32(3), object(3)
memory usage: 35.0+ KB

In [26]:
car=car.dropna()
car['fuel_type'].value_counts(dropna=False)
#car['fuel_type'].unique()

Petrol    428
Diesel    383
LPG         2
Name: fuel_type, dtype: int64

In [27]:
car=car.reset_index(drop=True)

In [28]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 813 entries, 0 to 812
Data columns (total 6 columns):
name          813 non-null object
company       813 non-null object
year          813 non-null int32
Price         813 non-null int32
kms_driven    813 non-null int32
fuel_type     813 non-null object
dtypes: int32(3), object(3)
memory usage: 28.7+ KB

In [29]:
car.tail()

                     name   company  year   Price  kms_driven fuel_type
808    Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
809        Tata Indica V2      Tata  2009  110000       30000    Diesel
810  Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
811          Tata Zest XM      Tata  2018  260000       27000    Diesel
812    Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

In [30]:
car.describe()

              year         Price     kms_driven
count   813.000000  8.130000e+02     813.000000
mean   2012.435424  4.072098e+05   46353.389914
std       4.007361  4.692542e+05   34322.795909
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.899990e+05   57000.000000
max    2019.000000  8.500003e+06  400000.000000

In [31]:
car=car[car['Price']<6e6]

In [32]:
car.describe()

              year         Price     kms_driven
count   812.000000  8.120000e+02     812.000000
mean   2012.433498  3.972433e+05   46355.056650
std       4.009454  3.736513e+05   34343.917255
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.899990e+05   57000.000000
max    2019.000000  3.100000e+06  400000.000000

In [33]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 812 entries, 0 to 812
Data columns (total 6 columns):
name          812 non-null object
company       812 non-null object
year          812 non-null int32
Price         812 non-null int32
kms_driven    812 non-null int32
fuel_type     812 non-null object
dtypes: int32(3), object(3)
memory usage: 34.9+ KB

In [34]:
car.reset_index(drop=True)

                       name    company  year    Price  kms_driven fuel_type
0       Hyundai Santro Xing    Hyundai  2007    80000       45000    Petrol
1       Mahindra Jeep CL550   Mahindra  2006   425000          40    Diesel
2         Hyundai Grand i10    Hyundai  2014   325000       28000    Petrol
3    Ford EcoSport Titanium       Ford  2014   575000       36000    Diesel
4                 Ford Figo       Ford  2012   175000       41000    Diesel
5               Hyundai Eon    Hyundai  2013   190000       25000    Petrol
6    Ford EcoSport Ambiente       Ford  2016   830000       24530    Diesel
7        Maruti Suzuki Alto     Maruti  2015   250000       60000    Petrol
8       Skoda Fabia Classic      Skoda  2010   182000       60000    Petrol
9    Maruti Suzuki Stingray     Maruti  2015   315000       30000    Petrol
10        Hyundai Elite i20    Hyundai  2014   415000       32000    Petrol
11     Mahindra Scorpio SLE   Mahindra  2015   320000       48660    Diesel
12      Hyundai Santro Xing    Hyundai  2007    80000       45000    Petrol
13      Mahindra Jeep CL550   Mahindra  2006   425000          40    Diesel
14                  Audi A8       Audi  2017  1000000        4000    Petrol
15                  Audi Q7       Audi  2014   500000       16934    Diesel
16     Mahindra Scorpio S10   Mahindra  2016   350000       43000    Diesel
17       Maruti Suzuki Alto     Maruti  2014   160000       35550    Petrol
18     Mahindra Scorpio S10   Mahindra  2016   350000       43000    Diesel
19     Mahindra Scorpio S10   Mahindra  2016   310000       39522    Diesel
20       Maruti Suzuki Alto     Maruti  2015    75000       39000    Petrol
21       Hyundai i20 Sportz    Hyundai  2012   100000       55000    Petrol
22       Hyundai i20 Sportz    Hyundai  2012   100000       55000    Petrol
23       Hyundai i20 Sportz    Hyundai  2012   100000       55000    Petrol
24       Maruti Suzuki Alto     Maruti  2017   190000       72000    Petrol
25     Maruti Suzuki Vitara     Maruti  2016   290000       15975    Diesel
26       Maruti Suzuki Alto     Maruti  2008    95000       70000    Petrol
27       Mahindra Bolero DI   Mahindra  2017   180000       23452    Diesel
28      Maruti Suzuki Swift     Maruti  2014   385000       35522    Diesel
29     Mahindra Scorpio S10   Mahindra  2015   250000       48508    Diesel
..                      ...        ...   ...      ...         ...       ...
782     Maruti Suzuki Wagon     Maruti  2006   100000        7000    Petrol
783             Hyundai Eon    Hyundai  2018   260000       25000    Petrol
784              Tata Manza       Tata  2015   100000      100000    Diesel
785          Toyota Etios G     Toyota  2013   265000       42000    Petrol
786      Hyundai Getz Prime    Hyundai  2009   115000       20000    Petrol
787           Toyota Qualis     Toyota  2003   180000      100000    Diesel
788     Hyundai Santro Xing    Hyundai  2004    45000      137495    Petrol
789         Tata Indica eV2       Tata  2016    50500       91200    Diesel
790          Honda City 1.5      Honda  2009   270000       55000    Petrol
791            Tata Zest XE       Tata  2017   290000      120000    Diesel
792      Mahindra Quanto C4   Mahindra  2013   325000       63000    Diesel
793         Tata Indigo eCS       Tata  2016   160000      104000    Diesel
794     Maruti Suzuki Swift     Maruti  2016   350000      146000    Diesel
795       Hyundai Elite i20    Hyundai  2011   290000       40000    Petrol
796      Hyundai i20 Select    Hyundai  2011   290000       40000    Petrol
797    Chevrolet Tavera Neo  Chevrolet  2007   465000      100800    Diesel
798     Maruti Suzuki Dzire     Maruti  2016   325000      150000    Diesel
799       Hyundai Elite i20    Hyundai  2018   510000        2100    Petrol
800           Honda City VX      Honda  2016   860000       95000    Petrol
801     Maruti Suzuki Dzire     Maruti  2016   450000        2500    Diesel
802            Hyundai Getz    Hyundai  2006   125000       80000    Petrol
803         Mercedes Benz C   Mercedes  2006   500001       15000    Petrol
804      Maruti Suzuki Alto     Maruti  2005    95000       65000    Petrol
805     Maruti Suzuki Swift     Maruti  2009   250000       51000    Diesel
806             Skoda Fabia      Skoda  2009   110000       45000    Petrol
807      Maruti Suzuki Ritz     Maruti  2011   270000       50000    Petrol
808          Tata Indica V2       Tata  2009   110000       30000    Diesel
809    Toyota Corolla Altis     Toyota  2009   300000      132000    Petrol
810            Tata Zest XM       Tata  2018   260000       27000    Diesel
811      Mahindra Quanto C8   Mahindra  2013   390000       40000    Diesel

[812 rows x 6 columns]

In [35]:
car.to_csv('clean_car_data.csv')

Model

In [36]:
x=car.drop(columns='Price')
y=car['Price']

In [37]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.2)

In [38]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder

In [39]:
ohe= OneHotEncoder()
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder(categorical_features=None, categories=None, drop=None,
              dtype=<class 'numpy.float64'>, handle_unknown='error',
              n_values=None, sparse=True)

In [40]:
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [41]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [42]:
lr= LinearRegression()

In [43]:
pipe=make_pipeline(column_trans, lr)

In [44]:
pipe.fit(x_train,y_train)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categorical_features=None,
                                                                categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'B...
       'Mercedes', 'Mini', 'Mitsubishi', 'Nissan', 'Renault', 'Skoda',
       'Tata', 'Toyota', 'Volkswagen'], dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)],
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                n_values=None,
                                                                sparse=True),
                                                  ['name', 'company',
                                                   'fuel_type'])],
                                   verbose=False)),
                ('linearregression',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [45]:
y_pred = pipe.predict(x_test)

In [46]:
r2_score(y_test,y_pred)

0.8363476839957179

In [47]:
score = []
for i in range(1000):
    x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=i)
    lr = LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred = pipe.predict(x_test)
    score.append(r2_score(y_test,y_pred))

In [48]:
np.argmax(score)

433

In [49]:
score[np.argmax(score)]

0.8972415984804637

In [50]:
import pickle

pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [51]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Wagon','Maruti',2019,100,'Petrol']]
                          ,columns=['name','company','year','kms_driven','fuel_type']))

array([340155.64729811])

In [52]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Wagon','Maruti',2019,10000,'Petrol']]
                          ,columns=['name','company','year','kms_driven','fuel_type']))

array([338421.66258197])

In [53]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Wagon','Maruti',2022,100,'Petrol']]
                          ,columns=['name','company','year','kms_driven','fuel_type']))

array([399075.09652942])